Sub DefineMaterials()
	' Iron as PEC with mu=4000
	With Material
		.Reset
		.Name "Iron-PEC"
		.Folder ""
		.Rho "7870.0"
		.ThermalType "Normal"
		.ThermalConductivity "79.5"
		.SpecificHeat "450", "J/K/kg"
		.DynamicViscosity "0"
		.Emissivity "0"
		.MetabolicRate "0"
		.VoxelConvection "0"
		.BloodFlow "0"
		.MechanicsType "Isotropic"
		.YoungsModulus "200"
		.PoissonsRatio "0.291"
		.ThermalExpansionRate "12"
		.FrqType "hf"
		.Type "Lossy metal"
		.MaterialUnit "Frequency", "Hz"
		.MaterialUnit "Geometry", "mm"
		.MaterialUnit "Time", "s"
		.Mu "1"
		.Sigma "1.04e+007"
		.LossyMetalSIRoughness "0.0"
		.ReferenceCoordSystem "Global"
		.CoordSystemType "Cartesian"
		.NonlinearMeasurementError "1e-1"
		.NLAnisotropy "False"
		.NLAStackingFactor "1"
		.NLADirectionX "1"
		.NLADirectionY "0"
		.NLADirectionZ "0"
		.FrqType "all"
		.Type "Normal"
		.MaterialUnit "Frequency", "Hz"
		.MaterialUnit "Geometry", "mm"
		.MaterialUnit "Time", "s"
		.Epsilon "1"
		.Mu "1000"
		.Sigma "1.04e+007"
		.TanD "0.0"
		.TanDFreq "0.0"
		.TanDGiven "False"
		.TanDModel "ConstSigma"
		.EnableUserConstTanDModelOrderEps "False"
		.ConstTanDModelOrderEps "1"
		.SetElParametricConductivity "False"
		.ReferenceCoordSystem "Global"
		.CoordSystemType "Cartesian"
		.SigmaM "0"
		.TanDM "0.0"
		.TanDMFreq "0.0"
		.TanDMGiven "False"
		.TanDMModel "ConstSigma"
		.EnableUserConstTanDModelOrderMu "False"
		.ConstTanDModelOrderMu "1"
		.SetMagParametricConductivity "False"
		.DispModelEps  "None"
		.DispModelMu "None"
		.DispersiveFittingSchemeEps "Nth Order"
		.MaximalOrderNthModelFitEps "10"
		.ErrorLimitNthModelFitEps "0.1"
		.UseOnlyDataInSimFreqRangeNthModelEps "False"
		.DispersiveFittingSchemeMu "Nth Order"
		.MaximalOrderNthModelFitMu "10"
		.ErrorLimitNthModelFitMu "0.1"
		.UseOnlyDataInSimFreqRangeNthModelMu "False"
		.UseGeneralDispersionEps "False"
		.UseGeneralDispersionMu "False"
		.NonlinearMeasurementError "1e-3"
		.ResetHBList
		.SetNonlinearCurveType "Soft-Magnetic-BH"
		.AddNonlinearCurveValue " 0.000000e+000", " 0.000000e+000"
		.AddNonlinearCurveValue " 1.592000e+001", " 4.500000e-002"
		.AddNonlinearCurveValue " 3.183000e+001", " 4.900000e-001"
		.AddNonlinearCurveValue " 4.775000e+001", " 7.800000e-001"
		.AddNonlinearCurveValue " 6.366000e+001", " 9.900000e-001"
		.AddNonlinearCurveValue " 7.958000e+001", " 1.130000e+000"
		.AddNonlinearCurveValue " 1.592000e+002", " 1.420000e+000"
		.AddNonlinearCurveValue " 3.183000e+002", " 1.570000e+000"
		.AddNonlinearCurveValue " 4.775000e+002", " 1.621000e+000"
		.AddNonlinearCurveValue " 6.366000e+002", " 1.641000e+000"
		.AddNonlinearCurveValue " 7.958000e+002", " 1.656000e+000"
		.AddNonlinearCurveValue " 1.592000e+003", " 1.697000e+000"
		.AddNonlinearCurveValue " 3.183000e+003", " 1.764000e+000"
		.AddNonlinearCurveValue " 4.775000e+003", " 1.801000e+000"
		.AddNonlinearCurveValue " 6.366000e+003", " 1.838000e+000"
		.AddNonlinearCurveValue " 7.958000e+003", " 1.870000e+000"
		.AddNonlinearCurveValue " 1.592000e+004", " 2.000000e+000"
		.AddNonlinearCurveValue " 3.183000e+004", " 2.136000e+000"
		.AddNonlinearCurveValue " 4.775000e+004", " 2.185000e+000"
		.AddNonlinearCurveValue " 6.366000e+004", " 2.220000e+000"
		.AddNonlinearCurveValue " 7.958000e+004", " 2.250000e+000"
		.AddNonlinearCurveValue " 1.592000e+005", " 2.355000e+000"
		.AddNonlinearCurveValue " 3.183000e+005", " 2.556000e+000"
		.GenerateNonlinearCurve
		.NLAnisotropy "False"
		.NLAStackingFactor "1"
		.NLADirectionX "1"
		.NLADirectionY "0"
		.NLADirectionZ "0"
		.FrqType "static"
		.Type "Pec"
		.MaterialUnit "Frequency", "Hz"
		.MaterialUnit "Geometry", "mm"
		.MaterialUnit "Time", "s"
		.Epsilon "1.0"
		.Mu "4000"
		.ReferenceCoordSystem "Global"
		.CoordSystemType "Cartesian"
		.NonlinearMeasurementError "1e-3"
		.ResetHBList
		.SetNonlinearCurveType "Soft-Magnetic-BH"
		.AddNonlinearCurveValue " 0.000000e+000", " 0.000000e+000"
		.AddNonlinearCurveValue " 1.592000e+001", " 4.500000e-002"
		.AddNonlinearCurveValue " 3.183000e+001", " 4.900000e-001"
		.AddNonlinearCurveValue " 4.775000e+001", " 7.800000e-001"
		.AddNonlinearCurveValue " 6.366000e+001", " 9.900000e-001"
		.AddNonlinearCurveValue " 7.958000e+001", " 1.130000e+000"
		.AddNonlinearCurveValue " 1.592000e+002", " 1.420000e+000"
		.AddNonlinearCurveValue " 3.183000e+002", " 1.570000e+000"
		.AddNonlinearCurveValue " 4.775000e+002", " 1.621000e+000"
		.AddNonlinearCurveValue " 6.366000e+002", " 1.641000e+000"
		.AddNonlinearCurveValue " 7.958000e+002", " 1.656000e+000"
		.AddNonlinearCurveValue " 1.592000e+003", " 1.697000e+000"
		.AddNonlinearCurveValue " 3.183000e+003", " 1.764000e+000"
		.AddNonlinearCurveValue " 4.775000e+003", " 1.801000e+000"
		.AddNonlinearCurveValue " 6.366000e+003", " 1.838000e+000"
		.AddNonlinearCurveValue " 7.958000e+003", " 1.870000e+000"
		.AddNonlinearCurveValue " 1.592000e+004", " 2.000000e+000"
		.AddNonlinearCurveValue " 3.183000e+004", " 2.136000e+000"
		.AddNonlinearCurveValue " 4.775000e+004", " 2.185000e+000"
		.AddNonlinearCurveValue " 6.366000e+004", " 2.220000e+000"
		.AddNonlinearCurveValue " 7.958000e+004", " 2.250000e+000"
		.AddNonlinearCurveValue " 1.592000e+005", " 2.355000e+000"
		.AddNonlinearCurveValue " 3.183000e+005", " 2.556000e+000"
		.GenerateNonlinearCurve
		.NLAnisotropy "False"
		.NLAStackingFactor "1"
		.NLADirectionX "1"
		.NLADirectionY "0"
		.NLADirectionZ "0"
		.Colour "0", "0.25098", "0.25098"
		.Wireframe "False"
		.Reflection "False"
		.Allowoutline "True"
		.Transparentoutline "False"
		.Transparency "0"
		.Create
	End With

	' Normal nonlinear iron
	With Material 
		.Reset 
		.Name "Iron-normal"
		.Folder ""
		.Rho "7870.0"
		.ThermalType "Normal"
		.ThermalConductivity "79.5"
		.SpecificHeat "450", "J/K/kg"
		.DynamicViscosity "0"
		.UseEmissivity "True"
		.Emissivity "0"
		.MetabolicRate "0"
		.VoxelConvection "0"
		.BloodFlow "0"
		.Absorptance "0"
		.MechanicsType "Isotropic"
		.YoungsModulus "200"
		.PoissonsRatio "0.291"
		.ThermalExpansionRate "12"
		.IntrinsicCarrierDensity "0"
		.FrqType "static"
		.Type "Normal"
		.MaterialUnit "Frequency", "Hz"
		.MaterialUnit "Geometry", "mm"
		.MaterialUnit "Time", "s"
		.Epsilon "1.0"
		.Mu "1000"
		.Sigma "0.0"
		.TanD "0.0"
		.TanDFreq "0.0"
		.TanDGiven "False"
		.TanDModel "ConstTanD"
		.SetConstTanDStrategyEps "AutomaticOrder"
		.ConstTanDModelOrderEps "3"
		.DjordjevicSarkarUpperFreqEps "0"
		.SetElParametricConductivity "False"
		.ReferenceCoordSystem "Global"
		.CoordSystemType "Cartesian"
		.SigmaM "0"
		.TanDM "0.0"
		.TanDMFreq "0.0"
		.TanDMGiven "False"
		.TanDMModel "ConstTanD"
		.SetConstTanDStrategyMu "AutomaticOrder"
		.ConstTanDModelOrderMu "3"
		.DjordjevicSarkarUpperFreqMu "0"
		.SetMagParametricConductivity "False"
		.DispModelEps  "None"
		.DispModelMu "None"
		.DispersiveFittingSchemeEps "Nth Order"
		.MaximalOrderNthModelFitEps "10"
		.ErrorLimitNthModelFitEps "0.1"
		.UseOnlyDataInSimFreqRangeNthModelEps "False"
		.DispersiveFittingSchemeMu "Nth Order"
		.MaximalOrderNthModelFitMu "10"
		.ErrorLimitNthModelFitMu "0.1"
		.UseOnlyDataInSimFreqRangeNthModelMu "False"
		.UseGeneralDispersionEps "False"
		.UseGeneralDispersionMu "False"
		.NonlinearMeasurementError "1e-3"
		.ResetHBList
		.SetNonlinearCurveType "Soft-Magnetic-BH"
		.AddNonlinearCurveValue "0", "0"
		.AddNonlinearCurveValue "10", "0.003"
		.AddNonlinearCurveValue "25", "0.007"
		.AddNonlinearCurveValue "50", "0.015"
		.AddNonlinearCurveValue "75", "0.026"
		.AddNonlinearCurveValue "108", "0.05"
		.AddNonlinearCurveValue "137", "0.1"
		.AddNonlinearCurveValue "160", "0.15"
		.AddNonlinearCurveValue "180", "0.2"
		.AddNonlinearCurveValue "200", "0.25"
		.AddNonlinearCurveValue "235", "0.35"
		.AddNonlinearCurveValue "285", "0.5"
		.AddNonlinearCurveValue "320", "0.6"
		.AddNonlinearCurveValue "365", "0.7"
		.AddNonlinearCurveValue "480", "0.9"
		.AddNonlinearCurveValue "560", "1"
		.AddNonlinearCurveValue "660", "1.1"
		.AddNonlinearCurveValue "800", "1.2"
		.AddNonlinearCurveValue "1000", "1.3"
		.AddNonlinearCurveValue "1150", "1.354"
		.AddNonlinearCurveValue "1550", "1.45"
		.AddNonlinearCurveValue "1840", "1.5"
		.AddNonlinearCurveValue "2250", "1.55"
		.AddNonlinearCurveValue "2800", "1.6"
		.AddNonlinearCurveValue "3450", "1.65"
		.AddNonlinearCurveValue "4350", "1.7"
		.AddNonlinearCurveValue "5500", "1.75"
		.AddNonlinearCurveValue "7707", "1.81"
		.AddNonlinearCurveValue "1.1863e+04", "1.89"
		.AddNonlinearCurveValue "1.5839e+04", "1.945"
		.AddNonlinearCurveValue "2.1076e+04", "2"
		.AddNonlinearCurveValue "2.7281e+04", "2.05"
		.AddNonlinearCurveValue "3.5288e+04", "2.1"
		.AddNonlinearCurveValue "4.5642e+04", "2.15"
		.AddNonlinearCurveValue "5.9046e+04", "2.2"
		.AddNonlinearCurveValue "7.6412e+04", "2.25"
		.AddNonlinearCurveValue "9.8907e+04", "2.3"
		.AddNonlinearCurveValue "1.28e+05", "2.35"
		.AddNonlinearCurveValue "1.34764e+05", "2.36"
		.AddNonlinearCurveValue "1.4188e+05", "2.37"
		.AddNonlinearCurveValue "1.49364e+05", "2.38"
		.AddNonlinearCurveValue "1.57235e+05", "2.39"
		.GenerateNonlinearCurve
		.SetNonlinearTemperatureDependency "False"
		.SetNonlinearCurveDefaultTemperature "293.15"
		.SetNonlinearCurveTemperatureUnit "K"
		.AddNonlinearCurveTemperature "293.15"
		.NonlinearMeasurementError "1e-3"
		.ResetHBList
		.SetNonlinearCurveType "Soft-Magnetic-BH"
		.AddNonlinearCurveValue "0", "0"
		.AddNonlinearCurveValue "20.721094073771", "0.81103461961167"
		.AddNonlinearCurveValue "357.61648215026", "1.1023886087996"
		.AddNonlinearCurveValue "424.10899295483", "1.2111996180089"
		.AddNonlinearCurveValue "2496.5755665583", "1.6090577218477"
		.AddNonlinearCurveValue "3785.6748169637", "1.677520657793"
		.AddNonlinearCurveValue "5264.7637795276", "1.7482293320308"
		.AddNonlinearCurveValue "1.05157019846203e+04", "1.8714577846323"
		.AddNonlinearCurveValue "1.30532532117696e+04", "1.9093192382666"
		.AddNonlinearCurveValue "1.55908044389188e+04", "1.9470128175556"
		.AddNonlinearCurveValue "1.85145047658516e+04", "1.9798611959132"
		.AddNonlinearCurveValue "2.39757563199337e+04", "2.0241926531156"
		.AddNonlinearCurveValue "2.94370078740157e+04", "2.0627056065602"
		.AddNonlinearCurveValue "3.21676336510568e+04", "2.0812694042637"
		.AddNonlinearCurveValue "3.48982594280978e+04", "2.1002488093784"
		.AddNonlinearCurveValue "3.76288852051388e+04", "2.1106389946602"
		.AddNonlinearCurveValue "4.03595109821799e+04", "2.125046718251"
		.AddNonlinearCurveValue "4.30901367592209e+04", "2.1380690838042"
		.AddNonlinearCurveValue "4.85513883133029e+04", "2.1599577407979"
		.AddNonlinearCurveValue "5.1282014090344e+04", "2.1693781754534"
		.AddNonlinearCurveValue "5.4012639867385e+04", "2.1807381113615"
		.AddNonlinearCurveValue "5.6743265644426e+04", "2.1920980472696"
		.AddNonlinearCurveValue "6.22045171985081e+04", "2.2081682005055"
		.AddNonlinearCurveValue "6.49351429755491e+04", "2.2150949906934"
		.AddNonlinearCurveValue "6.76657687525901e+04", "2.2228529957038"
		.AddNonlinearCurveValue "7.03963945296312e+04", "2.2319963587518"
		.AddNonlinearCurveValue "7.31270203066722e+04", "2.2386460773321"
		.AddNonlinearCurveValue "7.85882718607542e+04", "2.2536079441379"
		.AddNonlinearCurveValue "8.13188976377953e+04", "2.2594264478957"
		.AddNonlinearCurveValue "8.40495234148363e+04", "2.2652449516535"
		.AddNonlinearCurveValue "8.67801491918773e+04", "2.2707863838038"
		.AddNonlinearCurveValue "8.95107749689184e+04", "2.2766048875617"
		.AddNonlinearCurveValue "9.22414007459594e+04", "2.283808749357"
		.AddNonlinearCurveValue "9.49720265230004e+04", "2.2893501815073"
		.AddNonlinearCurveValue "1.03163903854123e+05", "2.3048661915282"
		.AddNonlinearCurveValue "1.05894529631165e+05", "2.3092993372484"
		.AddNonlinearCurveValue "1.08625155408206e+05", "2.3151178410062"
		.AddNonlinearCurveValue "1.11355781185247e+05", "2.3187197719039"
		.AddNonlinearCurveValue "1.14086406962288e+05", "2.3220446311941"
		.AddNonlinearCurveValue "1.16817032739329e+05", "2.3275860633444"
		.AddNonlinearCurveValue "1.1954765851637e+05", "2.3331274954947"
		.AddNonlinearCurveValue "1.22278284293411e+05", "2.33811478443"
		.AddNonlinearCurveValue "1.25008910070452e+05", "2.3411625721126"
		.AddNonlinearCurveValue "1.27739535847493e+05", "2.3476910718647"
		.AddNonlinearCurveValue "1.30470161624534e+05", "2.3505830067681"
		.AddNonlinearCurveValue "1.3330422019616e+05", "2.3585488154842"
		.AddNonlinearCurveValue "1.35718637144041e+05", "2.3627939483279"
		.AddNonlinearCurveValue "1.38662038955657e+05", "2.3636053723213"
		.AddNonlinearCurveValue "1.44123290509739e+05", "2.3702550909017"
		.AddNonlinearCurveValue "1.4685391628678e+05", "2.3741340934069"
		.AddNonlinearCurveValue "1.49453121571878e+05", "2.3766114395447"
		.AddNonlinearCurveValue "1.52315167840862e+05", "2.3793984539497"
		.AddNonlinearCurveValue "1.55045793617903e+05", "2.3838315996699"
		.GenerateNonlinearCurve
		.NLAnisotropy "False"
		.NLAStackingFactor "1"
		.NLADirectionX "1"
		.NLADirectionY "0"
		.NLADirectionZ "0"
		.FrqType "all"
		.Type "Normal"
		.MaterialUnit "Frequency", "Hz"
		.MaterialUnit "Geometry", "mm"
		.MaterialUnit "Time", "s"
		.Epsilon "1"
		.Mu "1000"
		.Sigma "1.04e+007"
		.TanD "0.0"
		.TanDFreq "0.0"
		.TanDGiven "False"
		.TanDModel "ConstSigma"
		.SetConstTanDStrategyEps "AutomaticOrder"
		.ConstTanDModelOrderEps "1"
		.DjordjevicSarkarUpperFreqEps "0"
		.SetElParametricConductivity "False"
		.ReferenceCoordSystem "Global"
		.CoordSystemType "Cartesian"
		.SigmaM "0"
		.TanDM "0.0"
		.TanDMFreq "0.0"
		.TanDMGiven "False"
		.TanDMModel "ConstSigma"
		.SetConstTanDStrategyMu "AutomaticOrder"
		.ConstTanDModelOrderMu "1"
		.DjordjevicSarkarUpperFreqMu "0"
		.SetMagParametricConductivity "False"
		.DispModelEps  "None"
		.DispModelMu "None"
		.DispersiveFittingSchemeEps "Nth Order"
		.MaximalOrderNthModelFitEps "10"
		.ErrorLimitNthModelFitEps "0.1"
		.UseOnlyDataInSimFreqRangeNthModelEps "False"
		.DispersiveFittingSchemeMu "Nth Order"
		.MaximalOrderNthModelFitMu "10"
		.ErrorLimitNthModelFitMu "0.1"
		.UseOnlyDataInSimFreqRangeNthModelMu "False"
		.UseGeneralDispersionEps "False"
		.UseGeneralDispersionMu "False"
		.NonlinearMeasurementError "1e-3"
		.ResetHBList
		.SetNonlinearCurveType "Soft-Magnetic-BH"
		.AddNonlinearCurveValue " 0.000000e+000", " 0.000000e+000"
		.AddNonlinearCurveValue " 1.592000e+001", " 4.500000e-002"
		.AddNonlinearCurveValue " 3.183000e+001", " 4.900000e-001"
		.AddNonlinearCurveValue " 4.775000e+001", " 7.800000e-001"
		.AddNonlinearCurveValue " 6.366000e+001", " 9.900000e-001"
		.AddNonlinearCurveValue " 7.958000e+001", " 1.130000e+000"
		.AddNonlinearCurveValue " 1.592000e+002", " 1.420000e+000"
		.AddNonlinearCurveValue " 3.183000e+002", " 1.570000e+000"
		.AddNonlinearCurveValue " 4.775000e+002", " 1.621000e+000"
		.AddNonlinearCurveValue " 6.366000e+002", " 1.641000e+000"
		.AddNonlinearCurveValue " 7.958000e+002", " 1.656000e+000"
		.AddNonlinearCurveValue " 1.592000e+003", " 1.697000e+000"
		.AddNonlinearCurveValue " 3.183000e+003", " 1.764000e+000"
		.AddNonlinearCurveValue " 4.775000e+003", " 1.801000e+000"
		.AddNonlinearCurveValue " 6.366000e+003", " 1.838000e+000"
		.AddNonlinearCurveValue " 7.958000e+003", " 1.870000e+000"
		.AddNonlinearCurveValue " 1.592000e+004", " 2.000000e+000"
		.AddNonlinearCurveValue " 3.183000e+004", " 2.136000e+000"
		.AddNonlinearCurveValue " 4.775000e+004", " 2.185000e+000"
		.AddNonlinearCurveValue " 6.366000e+004", " 2.220000e+000"
		.AddNonlinearCurveValue " 7.958000e+004", " 2.250000e+000"
		.AddNonlinearCurveValue " 1.592000e+005", " 2.355000e+000"
		.AddNonlinearCurveValue " 3.183000e+005", " 2.556000e+000"
		.GenerateNonlinearCurve
		.NLAnisotropy "False"
		.NLAStackingFactor "1"
		.NLADirectionX "1"
		.NLADirectionY "0"
		.NLADirectionZ "0"
		.FrqType "hf"
		.Type "Lossy metal"
		.MaterialUnit "Frequency", "Hz"
		.MaterialUnit "Geometry", "mm"
		.MaterialUnit "Time", "s"
		.Mu "1"
		.Sigma "1.04e+007"
		.LossyMetalSIRoughness "0.0"
		.ReferenceCoordSystem "Global"
		.CoordSystemType "Cartesian"
		.NonlinearMeasurementError "1e-1"
		.NLAnisotropy "False"
		.NLAStackingFactor "1"
		.NLADirectionX "1"
		.NLADirectionY "0"
		.NLADirectionZ "0"
		.Colour "0", "0.168627", "0.211765" 
		.Wireframe "False" 
		.Reflection "False" 
		.Allowoutline "True" 
		.Transparentoutline "False" 
		.Transparency "0" 
		.Create
	End With

	' Vacuum
	With Material
		.Reset
		.Name "Vacuum"
		.Folder ""
		.FrqType "all"
		.Type "Normal"
		.SetMaterialUnit "Hz", "mm"
		.Mu "1.0"
		.Kappa "0"
		.TanD "0.0"
		.TanDFreq "0.0"
		.TanDGiven "False"
		.TanDModel "ConstKappa"
		.KappaM "0"
		.TanDM "0.0"
		.TanDMFreq "0.0"
		.TanDMGiven "False"
		.TanDMModel "ConstKappa"
		.DispModelEps "None"
		.DispModelMu "None"
		.DispersiveFittingSchemeEps "General 1st"
		.DispersiveFittingSchemeMu "General 1st"
		.UseGeneralDispersionEps "False"
		.UseGeneralDispersionMu "False"
		.Rho "0"
		.ThermalConductivity "0"
		.SetActiveMaterial "all"
		.Colour "1", "1", "1"
		.Wireframe "True"
		.Transparency "80"
		.Create
	End With

	' PEC
	With Material
		.Reset
		.Name "PEC"
		.Folder ""
		.FrqType "all"
		.Type "PEC"
		.SetMaterialUnit "Hz", "mm"
		.Epsilon "1"
		.Mu "1"
		.Rho "0"
		.ThermalType "PTC"
		.SetActiveMaterial "all"
		.Colour "0.8", "0.8", "0.8"
		.Wireframe "False"
		.Transparency "0"
		.Create
	End With

	' Epoxy resin
	With Material
		.Reset
		.Name "Epoxy resin"
		.Folder ""
		.Rho "1500"
		.ThermalType "Normal"
		.ThermalConductivity "0.2"
		.SpecificHeat "0", "J/K/kg"
		.DynamicViscosity "0"
		.Emissivity "0"
		.MetabolicRate "0.0"
		.VoxelConvection "0.0"
		.BloodFlow "0"
		.MechanicsType "Isotropic"
		.YoungsModulus "13"
		.PoissonsRatio "0.45"
		.ThermalExpansionRate "0.0"
		.FrqType "all"
		.Type "Normal"
		.MaterialUnit "Frequency", "GHz"
		.MaterialUnit "Geometry", "mm"
		.MaterialUnit "Time", "s"
		.Epsilon "5.2"
		.Mu "1"
		.Sigma "0"
		.TanD "0.0"
		.TanDFreq "0.0"
		.TanDGiven "False"
		.TanDModel "ConstTanD"
		.EnableUserConstTanDModelOrderEps "False"
		.ConstTanDModelOrderEps "1"
		.SetElParametricConductivity "False"
		.ReferenceCoordSystem "Global"
		.CoordSystemType "Cartesian"
		.SigmaM "0"
		.TanDM "0.0"
		.TanDMFreq "0.0"
		.TanDMGiven "False"
		.TanDMModel "ConstTanD"
		.EnableUserConstTanDModelOrderMu "False"
		.ConstTanDModelOrderMu "1"
		.SetMagParametricConductivity "False"
		.DispModelEps  "None"
		.DispModelMu "None"
		.DispersiveFittingSchemeEps "1st Order"
		.DispersiveFittingSchemeMu "1st Order"
		.UseGeneralDispersionEps "False"
		.UseGeneralDispersionMu "False"
		.NLAnisotropy "False"
		.NLAStackingFactor "1"
		.NLADirectionX "1"
		.NLADirectionY "0"
		.NLADirectionZ "0"
		.Colour "0.160784", "0.431373", "0.00392157"  
		.Wireframe "False"
		.Reflection "False"
		.Allowoutline "True"
		.Transparentoutline "False"
		.Transparency "0"
		.Create
	End With

	' Stainless steel
	With Material
		.Reset
		.Name "SS"
		.Folder ""
		.Rho "0.0"
		.ThermalType "Normal"
		.ThermalConductivity "0"
		.SpecificHeat "0", "J/K/kg"
		.DynamicViscosity "0"
		.Emissivity "0"
		.MetabolicRate "0.0"
		.VoxelConvection "0.0"
		.BloodFlow "0"
		.MechanicsType "Unused"
		.FrqType "all"
		.Type "Pec"
		.MaterialUnit "Frequency", "Hz"
		.MaterialUnit "Geometry", "m"
		.MaterialUnit "Time", "s"
		.MaterialUnit "Temperature", "Kelvin"
		.Epsilon "1.0"
		.Mu "1"
		.ReferenceCoordSystem "Global"
		.CoordSystemType "Cartesian"
		.NLAnisotropy "False"
		.NLAStackingFactor "1"
		.NLADirectionX "1"
		.NLADirectionY "0"
		.NLADirectionZ "0"
		.Colour "0.752941", "0.752941", "0.752941"
		.Wireframe "False"
		.Reflection "False"
		.Allowoutline "True"
		.Transparentoutline "False"
		.Transparency "50"
		.Create
	End With 
End Sub
